
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

// styles
$green: #afb98e;
$light-green: #dfe4bb;
$brown: #c79665;
$light-brown: #e5d9b9;
$font-primary: "Sour Gummy", serif;
$font-secondary: "Montserrat", serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

